/* This file styles the Verse component. */

@media only screen and (min-width: 800px) {
    .Reference {
        font-size: 12pt;
        /* text-shadow: 0px 2px 1px rgba(0,0,0,0.5); */
        margin: 48px;
    }

    /* .Verse { 
        font-size: 20pt;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 2.5px 1px;
    } */
}

@media only screen and (max-width: 800px) {
    .Reference {
        font-size: 8pt;
        /* text-shadow: 0px 1px 1px rgba(0,0,0,0.5); */
        margin: 32px;
    }

    .Verse { 
        font-size: 14pt !important;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 1.5px 1px !important;
    }

    .Bible.big *{
        line-height: 14pt !important;
    }
}

@media only screen and (max-height: 500px) { 
    .Reference {
        font-size: 8pt;
        /* text-shadow: 0px 1px 1px rgba(0,0,0,0.5); */
        margin: 32px;
    }

    .Verse { 
        font-size: 14pt !important;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 1.5px 1px !important;
    }

    .Bible.big *{
        line-height: 14pt !important;
    }
}

.Bible {
    color: #FFFFFF;
    margin: 64px auto 0 auto;
    user-select: none;
    transition: opacity 0.25s;
    width: 66%;
}

.Bible.big{
    margin: 48px auto 0 auto;
    width: 80%;
}

.Bible .Container {
    height: 40vh;
}

.Verse {
    word-wrap: break-word;
    font-weight: 400;
    animation: fadeinVerse 0.5s;
}

.Verse.transition {
    transition: 1s;
}

.Verse.no-transition {
    transition: none;
}

.Reference { 
    /* text-transform: uppercase; */
    transition: 1s;
}

.Reference a {
    text-decoration: none;
    font-weight: 700;
    mix-blend-mode: screen;
    color: black;
    background: white;
    opacity: 0.75;
    padding: 4px 20px;
    border-radius: 40px;
    animation: fadeinRef 0.5s;
}

.Reference a:empty {
    opacity: 0;
    animation: none;
}

.unloaded {
    opacity: 0.5;
}

@keyframes fadeinRef {
    from { opacity: 0; }
    to { opacity: 0.75; }
}

@keyframes fadeinVerse {
    from { opacity: 0; }
    to { opacity: 1; }
}