/* This file styles the Weather component. */

.Weather {
    color: #FFFFFF;
    position: absolute;
    top: 16px;
    right: 16px;
    user-select: none;
    transition: opacity 0.25s;
    animation: fadeinWeather 0.5s;
}

.Weather .Location {
    font-size: 8pt;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.Weather .Temperature {
    font-size: 18pt;
    text-shadow: 0px 1.5px 1px rgba(0,0,0,0.5);
    margin: -8px 0 0 0;
}

.Weather .Temperature .unit {
    font-size: 8pt;
    font-weight: 600;
}

.Weather .Icon {
    font-size: 48pt;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
}

.unloaded {
    opacity: 0.5;
}

.loaded {
    opacity: 0.8;
}

@keyframes fadeinWeather {
    from { opacity: 0; }
    to { opacity: 0.8; }
}