/* This file styles the Time component. */

/* Normal screen (1000px-) */
@media only screen and (min-width: 1000px) {
    .Time {
        font-size: 112pt;
        text-shadow: 0px 5px 1px rgba(0,0,0,0.5);
    } 

    .Date {
        font-size: 24pt;
        text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        margin: -32px 0 0 0;
    }
}

/* Reduced width (800px-999px) */
@media only screen and (min-width: 800px) and (max-width: 999px) {
    .Time {
        font-size: 96pt;
        text-shadow: 0px 4px 1px rgba(0,0,0,0.5);
    }  
    
    .Date {
        font-size: 21pt;
        text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        margin: -28px 0 0 0;
    }
}

/* Reduced width (0px-800px) */
@media only screen and (max-width: 800px) {
    .Time {
        font-size: 56pt !important;
        text-shadow: 0px 2.5px 1px rgba(0,0,0,0.5) !important;
    }

    .Date {
        font-size: 12pt !important;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5) !important;
        margin: -16px 0 0 0 !important;
    }
}

/* Reduced height (500px-600px) */
@media only screen and (min-height: 500px) and (max-height: 600px) {
    .Time {
        font-size: 96pt;
        text-shadow: 0px 4px 1px rgba(0,0,0,0.5);
    }  
    
    .Date {
        font-size: 21pt;
        text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        margin: -28px 0 0 0;
    } 
}

/* Reduced height (0px-500px) */
@media only screen and (max-height: 500px) { 
    .Time {
        font-size: 56pt !important;
        text-shadow: 0px 2.5px 1px rgba(0,0,0,0.5) !important;
    }

    .Date {
        font-size: 12pt !important;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5) !important;
        margin: -16px 0 0 0 !important;
    }
}

.Now {
    color: #FFFFFF;
    white-space: nowrap;
    user-select: none;
}

.Now .Time {

    margin: 48px 0 0 0;
    animation: fadeinTime 0.5s;
    transition: 1s;
}

.Now .Date {
    opacity: 0.8;
    animation: fadeinDate 0.5s;
    transition: 1s;
}

@keyframes fadeinTime {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeinDate {
    from { opacity: 0; }
    to { opacity: 0.8; }
}