/* This file styles the Day component. */

/* Normal screen (1000px-) */
@media only screen and (min-width: 1000px) {
    .Day {
        font-size: 24pt;
        text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        margin: -32px 0 0 0;
    }
}

/* Reduced width (800px-999px) */
@media only screen and (min-width: 800px) and (max-width: 999px) {
    .Day {
        font-size: 21pt;
        text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        margin: -28px 0 0 0;
    }
}

/* Reduced width (0px-800px) */
@media only screen and (max-width: 800px) {
    .Day {
        font-size: 12pt !important;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5) !important;
        margin: -16px 0 0 0 !important;
    }
}

/* Reduced height (500px-600px) */
@media only screen and (min-height: 500px) and (max-height: 600px) {
    .Day {
        font-size: 21pt;
        text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        margin: -28px 0 0 0;
    } 
}

/* Reduced height (0px-500px) */
@media only screen and (max-height: 500px) { 
    .Day {
        font-size: 12pt !important;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5) !important;
        margin: -16px 0 0 0 !important;
    }
}

.Day {
    color: #FFFFFF;
    white-space: nowrap;
    opacity: 0.8;
    user-select: none;
    animation: fadeinDay 0.5s;
    transition: font-size 1s, text-shadow 1s, margin 1s;
}

@keyframes fadeinDay {
    from { opacity: 0; }
    to { opacity: 0.8; }
}